<h1>Is Bitcoin Up? <%= @status %></h1>
<hr>
<div>
  <p>
    <span>Price: $<%= @exchange_rate.price_usd %></span>&nbsp;&nbsp;
    <span>24hr Change: <%= @exchange_rate.percent_change_24h %>%</span>&nbsp;&nbsp;
    <span>7day Change: <%= @exchange_rate.percent_change_7d %>%</span>&nbsp;&nbsp;
  </p>
</div>
